---
layout: default
---
{% assign author = site.data.users[page.author_id] %}
{% assign avatar_url = author.avatar | default: '/assets/images/profile/default.jpeg' %}

<article class="post">
  <div class="post-header">
    <img src="{{ avatar_url | relative_url }}" alt="{{ author.name }}" width="64">
    <div class="post-header-text">
      <h1>{{ page.title }}</h1>
      <div class="meta">
        Posted by <strong>{{ author.name }}</strong>
        ({{ author.rank | default: "Junior Member" }})
        on {{ page.date | date: "%B %d, %Y at %I:%M %p" }}
      </div>
    </div>
  </div>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="signature">
    {% if author.signature %}
      {{ author.signature }}
    {% else %}
      -------------------<br>
      Core 2 Duo @ 2.4GHz, 2GB RAM, GeForce 7900GT<br>
      "Solving Mysteries one at a time"
    {% endif %}
  </div>

  <button type="button" class="fake-reply" onclick="alert('This forum is archived. Replies are disabled.');">
    + Reply to Thread
  </button>
</article>